In [1]:
import pandas as pd 
import pymysql 
import csv

In [2]:
review_data = pd.read_csv('review_data.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)
review_image_data = pd.read_csv('review_image_data.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)

C:\Users\user\AppData\Local\Temp\ipykernel_107572\3295766073.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  review_data = pd.read_csv('review_data.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)
C:\Users\user\AppData\Local\Temp\ipykernel_107572\3295766073.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  review_image_data = pd.read_csv('review_image_data.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)

In [3]:
review_data

,review_no,content,reg_date,star_rating,upd_date,writer,product_id
0,2,ㄴㅇㄹㅇㄴㄹㄴ,2023-01-21 08:34:05.354,4,2023-01-21 08:34:05.354,JOKUN,90
1,3,후기수정 테스트,2023-01-21 08:35:41.336,4,2023-01-21 08:37:00.434,JOKUN,74

In [4]:
review_image_data

,review_image_id,edited_name,image_path_flutter,image_path_vue,original_name,review_id
0,2,24e8fe15-1de9-45e1-91ba-713503a99fc2handmade_3...,C:\Eddi-T1\flutter\buy_idea\assets\review\,C:\Eddi-T1\vue\frontend\src\assets\reviewImg\,handmade_3_5.jpg,2
1,3,e3852482-61a2-4dc5-80a5-710b020ed8a2product1_6...,C:\Eddi-T1\flutter\buy_idea\assets\review\,C:\Eddi-T1\vue\frontend\src\assets\reviewImg\,product1_6.jpg,3

In [5]:
db = pymysql.connect(
    host = '192.168.0.8',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'buy_idea_db'
)

In [7]:
f = open('review_data.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

cnt = 0

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    content = (row[1])
    reg_date = (row[2])
    star_rating = (row[3])
    upd_date = (row[4])
    writer = (row[5])
    product_id = (row[6])

        
    sql = "INSERT INTO review (content, reg_date, star_rating, upd_date, writer, product_id) VALUES (%s, %s, %s, %s, %s, %s)"
        
    cursor.execute(sql, (content, reg_date, star_rating, upd_date, writer, product_id))

db.commit()

f.close()

<_csv.reader object at 0x0000027E078DFEE0>

In [8]:
f = open('review_image_data.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

cnt = 0

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    edited_name = (row[1])
    image_path_flutter = (row[2])
    image_path_vue = (row[3])
    original_name = (row[4])
    review_id = (row[5])

        
    sql = "INSERT INTO review_image (edited_name, image_path_flutter, image_path_vue, original_name, review_id) VALUES (%s, %s, %s, %s, %s)"
        
    cursor.execute(sql, (edited_name, image_path_flutter, image_path_vue, original_name, review_id))

db.commit()

f.close()

<_csv.reader object at 0x0000027E0790DEE0>

In [9]:
db.close()