In [1]:
import pandas as pd 
import pymysql 
import csv

In [2]:
product_data = pd.read_csv('product_data6.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)
product_info_data = pd.read_csv('product_info_data6.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)
product_image_data = pd.read_csv('product_image_data6.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)

C:\Users\seonho\AppData\Local\Temp\ipykernel_47688\3019866018.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  product_data = pd.read_csv('product_data5.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)
C:\Users\seonho\AppData\Local\Temp\ipykernel_47688\3019866018.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  product_info_data = pd.read_csv('product_info_data5.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)
C:\Users\seonho\AppData\Local\Temp\ipykernel_47688\3019866018.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  product_image_data = pd.read_csv('product_image_data5.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)

In [3]:
product_data

    product_no nickname  price                          title
0            1        ì¿¤  26000             ì„ ë¬¼ì¶”ì²œâ™¡ë³¼í†µí†µí•œ í† ë¼ ë³¼í†  í‚¤ë§
1            2        ì¿¤  36000  â­ï¸2ì£¼ì†Œìš”â­ï¸ ëœ¨ê°œ í˜¸ë³´ë°± (blue colors)
2            3        ì¿¤   9300                        ğŸ’í•˜íŠ¸ì²´ë¦¬í‚¤ë§
3            4        ì¿¤  15900   ë³¸ì—°ì˜ ë§› ì•Œë§¹ì´ë§Œ ìëª½ì²­ ì—ì´ë“œ ì €ì¹¼ë¡œë¦¬ ìº í•‘ í™ˆ
4            5        ì¿¤  66000          ê°•ë‚¨êµ¬ ì„œì´ˆêµ¬ ì˜ìœ  ì´ˆì € ë ˆí…Œ íŒ ìƒë‹´
..         ...      ...    ...                            ...
87          88     ê±´ì˜¤ë†ì¥  75000                  íƒ„ìƒì„ë¹„ëˆ„ 12ë‹¬ SET
88          89     ê±´ì˜¤ë†ì¥  86400                     ë©”ì£¼-íƒ€ë§ˆëˆ„ ììš´ê³
89          90     ê±´ì˜¤ë†ì¥   2900                        ì˜¤ë‹ˆê¸°ë¦¬ì–‘ë§ğŸ™
90          91     ê±´ì˜¤ë†ì¥   3000               ë°”ì²´íƒ€íŒ©í† ë¦¬ ê°€ì£½ ì•ˆê²½ ì¼€ì´ìŠ¤
91          92     ê±´ì˜¤ë†ì¥   8500  ë„¤ì„íƒ ì–´ë¦°ì´ì§‘ê°€ë°© ë„¤ì„íƒ ìœ ì¹˜ì› ë‚®ì ì´ë¶ˆê°€ë°© ì´ë¦„í‘œ

[92 rows x 4 columns]

In [4]:
product_info_data

,product_info_no,category,content,delivery_fee,info_notice,reg_date,stock,upd_date,view_cnt,product_id
0,1,í•¸ë“œë©”ì´ë“œ,"ê·€ì—½ê³ ì•™ì¦ë§ì€\r\në³¼ í†µí†µí•œ í† ë¼ ""ë³¼í† ""ë¥¼ ì†Œê°œí•©ë‹ˆë‹¤.\r\n\r\nì˜¤ë™í†µí•œ ...",3000,"ì¢…ë¥˜ | í•¸ë“œë©”ì´ë“œ ì†ëœ¨ê°œ, ì†Œì¬ | cotton 55% A/A 45% Wool 5...",2022-12-26 11:59:17.814,100,2022-12-26 11:59:17.814,0,1
1,2,í•¸ë“œë©”ì´ë“œ,ğŸ‘ğŸ»ğŸ‘ğŸ»ğŸ‘ğŸ»\r\nğŸ’—2022 ìƒë°˜ê¸° ê²°ì‚° ë² ìŠ¤íŠ¸ ì‘í’ˆ ì„ ì •ğŸ’—\r\n\r\nëœ¨ê°œ í˜¸ë³´...,3000,"ì¢…ë¥˜ | í˜¸ë³´ë°±/ìˆ„ë”ë°±, ìƒ‰ìƒ\t| Blue ì»¬ëŸ¬, ì†Œì¬ | ìš¸ 40% ì•„í¬ë¦´ 60%",2022-12-26 12:03:42.763,100,2022-12-26 12:03:42.763,0,2
2,3,í•¸ë“œë©”ì´ë“œ,ğŸ’ í•˜íŠ¸ ì²´ë¦¬ í‚¤ë§\r\në°˜ì§ë°˜ì§ í„ì´ ë“¤ì–´ê°„ íˆ¬ëª… ë¹¨ê°„ ì²´ë¦¬ íŒ¬ë˜íŠ¸ì—\r\nì•„í¬ë¦´...,3000,"ì¢…ë¥˜ | í‚¤ë§ ì•…ì„¸ì‚¬ë¦¬, ì†Œì¬\t| íƒœìŠ¬ : ìƒ¤ë¬´ë“œ ê¸ˆì† : ë„ê¸ˆ, ì œì¡°ì / ...",2022-12-26 12:50:57.953,8,2023-01-07 15:18:38.393,0,3
3,4,í•¸ë“œë©”ì´ë“œ,âœ…ï¸ ë¦¬ë·° ì‘ì„±ì‹œ âœ…ï¸\r\nğŸ‰ ì²­ê³¼ ì–´ìš¸ë¦¬ëŠ” íƒ„ì‚°ìˆ˜ ì¦ì •!ğŸ‰\r\nâœ¨ï¸ìš”ì²­ë€ì— ë¦¬...,3000,ì•¡ìƒì°¨/ì„œìš¸ ì¤‘ë‘êµ¬ ì‹ ë‚´ë¡œ225 ë””ì•„ëœ¨ê°¤ëŸ¬ë¦¬ 1ì¸µ/ìˆ˜ë ¹í›„ 5ì£¼ ì´ë‚´,2022-12-26 12:55:08.224,6,2023-01-07 15:18:38.357,0,4
4,5,ë…¸í•˜ìš°,[ì„œë¹„ìŠ¤ ì„¤ëª…]\r\n\r\n1. ì „ë¬¸ê°€ ì†Œê°œ\r\nê°•ë‚¨ì— ê±°ì£¼í•˜ë©° ì•„ì´ë¥¼ ì˜ì–´ìœ ì¹˜...,0,ì—°ë½ ê°€ëŠ¥ ì‹œê°„: 0ì‹œ ~ 11ì‹œ,2022-12-26 13:07:07.810,5,2022-12-26 13:07:07.810,0,5
...,...,...,...,...,...,...,...,...,...,...
87,88,í•¸ë“œë©”ì´ë“œ,"Birthstone soap 12 SET\r\n60g, 100g\r\n\r\n\r\...",3000,"ë³´ìŠµ í´ë Œì§• / ì œì¡°ì¼ë¡œë¶€í„° 12ê°œì›” / ë¹„ëˆ„ìœ ì§€,ì½”ì½”ë„›ì˜¤ì¼,íŒœì˜¤ì¼,í”¼ë§ˆìì˜¤ì¼,í¬ë„...",2023-01-20 12:04:54.334,25,2023-01-20 12:05:38.319,4,88
88,89,í•¸ë“œë©”ì´ë“œ,"ë©”ì£¼-íƒ€ë§ˆëˆ„ ììš´ê³ \r\nmadagascar TAMANU+ììš´ê³ \r\n\r\nì§€ì¹˜,...",3000,ê°œë´‰ í›„ 5ë…„ / ì„œìš¸ ì¢…ë¡œêµ¬ ì¸ì‚¬ë™ê¸¸ 36 (ê´€í›ˆë™),2023-01-20 12:10:52.370,20,2023-01-20 12:10:52.370,0,89
89,90,í•¸ë“œë©”ì´ë“œ,MAEUM : ë§ˆìŒ\r\n\r\ní•˜ë‚˜í•˜ë‚˜ ì˜ˆì˜ê²Œ ì •ì„±ì„ ë‹´ì•„ ì œì‘í•˜ëŠë¼\r\nì ì •ëŸ‰...,3000,"ìì²´ì œì‘/ëŒ€í•œë¯¼êµ­ / ê²½ê¸° ë¶€ì²œì‹œ ì§€ë´‰ë¡œ63ë²ˆê¸¸ 31-16 (ì—­ê³¡ë™, ì‚¼ì„±í•˜ì´ì¸ ë¹Œ)...",2023-01-20 13:05:18.384,30,2023-01-20 13:05:18.384,0,90
90,91,í•¸ë“œë©”ì´ë“œ,ì·¨í–¥ì— ë”°ë¼ ììœ ë¡­ê²Œ ì„ íƒí• ìˆ˜ ìˆë„ë¡\r\n20ê°€ì§€ ì»¬ëŸ¬ë¥¼ ì¤€ë¹„í–ˆìŠµë‹ˆë‹¤.\r\nì›...,3000,"ì†Œì¬: ì¸ì¡°ê°€ì£½ ì›ì‚°ì§€: ëŒ€í•œë¯¼êµ­ ì œì‘ê¸°ê°„: ì˜ì—…ì¼ ë‚´ 1-3ì¼, ìµœëŒ€ 7ì¼/ ì„œìš¸...",2023-01-20 14:41:02.054,20,2023-01-20 14:41:02.054,0,91
91,92,í•¸ë“œë©”ì´ë“œ,"ì•„ì´ë“¤ ê°€ë°©, ì´ë¶ˆ ë“±ì— í—·ê°ˆë¦¬ì§€ ì•Šë„ë¡\r\në‹¬ì•„ì£¼ê¸° ì¢‹ì€ ììˆ˜ ë„¤ì„í…ì´ì˜ˆìš”:)\...",3000,ë©´ / ëŒ€í•œë¯¼êµ­ /,2023-01-20 14:47:30.336,20,2023-01-20 14:47:30.336,0,92

In [5]:
product_image_data

,image_id,edited_name,image_path_flutter,image_path_vue,original_name,product_id
0,1,f0d1e5ab-9293-4087-a8bc-d68a069cfa0cproduct1_1...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,product1_1.jpg,1
1,2,fe623db4-41f7-462d-878e-c06bda8efcbeproduct1_2...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,product1_2.jpg,1
2,3,1350c1f2-9ad3-4717-83bf-951ecc8f9042product1_3...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,product1_3.jpg,1
3,4,1e850bb5-0bf9-4af6-b95d-69d902c3d281product1_4...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,product1_4.jpg,1
4,5,01119c6f-b90a-4b6e-aa5a-04a9355d0a73product1_5...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,product1_5.jpg,1
...,...,...,...,...,...,...
558,559,67d6ff00-41ab-4478-92d6-737c01c2cdb9g_handmade...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,g_handmade7_1.jpg,92
559,560,c8d2a6bf-ccce-4ccf-8fd8-9ceec73b03dfg_handmade...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,g_handmade7_2.jpg,92
560,561,8b03ec67-ed89-4965-af78-6c3c36347132g_handmade...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,g_handmade7_3.jpg,92
561,562,2dd176d2-8cae-46f0-bb0b-23de97b069c4g_handmade...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,g_handmade7_4.jpg,92
562,563,4c620866-57c3-4ffe-aee0-ab8ac171bbd7g_handmade...,C:\Eddi-T1\flutter\buy_idea\assets\product\,C:\Eddi-T1\vue\frontend\src\assets\productImg\,g_handmade7_5.jpg,92

In [6]:
db = pymysql.connect(
    host = 'IP',
    port = 3306,
    user = 'eddi',
    passwd = 'ë¹„ë°€ë²ˆí˜¸',
    db = 'buy_idea_db'
)

In [7]:
f = open('product_data6.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

cnt = 0

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    nickname = (row[1])
    price = (row[2])
    title = (row[3])

        
    sql = "INSERT INTO product (nickname, price, title) VALUES (%s, %s, %s)"
        
    cursor.execute(sql, (nickname, price, title))

db.commit()

f.close()

<_csv.reader object at 0x000002018DEB0CA0>

In [8]:
f = open('product_info_data6.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)


cnt = 0

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    category = (row[1])
    content = (row[2])
    delivery_fee = (row[3])
    info_notice = (row[4])
    reg_date = (row[5])
    stock = (row[6])
    upd_date = (row[7])
    view_cnt = (row[8])
    product_id = (row[9])

        
    sql = "INSERT INTO product_info (category, content, delivery_fee, info_notice, reg_date, stock, upd_date, view_cnt, product_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
        
    cursor.execute(sql, (category, content,delivery_fee, info_notice, reg_date, stock, upd_date, view_cnt, product_id))

db.commit()

f.close()

<_csv.reader object at 0x0000020190598A00>

In [9]:
f = open('product_image_data6.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)


cnt = 0

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    edited_name = (row[1])
    image_path_flutter = (row[2])
    image_path_vue = (row[3])
    original_name = (row[4])
    product_id = (row[5])

        
    sql = "INSERT INTO product_image (edited_name, image_path_flutter, image_path_vue, original_name, product_id) VALUES (%s, %s, %s, %s, %s)"
        
    cursor.execute(sql, (edited_name, image_path_flutter,image_path_vue, original_name, product_id))

db.commit()

f.close()

<_csv.reader object at 0x000002018DEB0F40>

In [10]:
db.close()