In [2]:
import pandas as pd 
import pymysql 
import csv

In [6]:
data = pd.read_csv('member_info_data.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)

C:\Users\user\AppData\Local\Temp\ipykernel_161416\2445787851.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('member_info_data.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=False)

In [7]:
data

   id member_id member_type nick_name  password
0   1   ljb8194        일반회원      JBTV    123456
1   2    joanna         판매자        조쿤    123456
2   3    testId         판매자        메롱    123456

In [5]:
f = open('member_info_data.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

<_csv.reader object at 0x0000019AF8583460>

In [8]:
cnt = 0

db = pymysql.connect(
    host = 'IP adress',
    port = 3306,
    user = 'eddi',
    passwd = 'password',
    db = 'buy_idea_db'
)

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    member_id = (row[1])
    nick_name = (row[2])
    password = (row[3])
    member_type = (row[4])

        
    sql = "INSERT INTO buy_dia_member (member_id, nick_name, password, member_type) VALUES (%s, %s, %s, %s)"
        
    cursor.execute(sql, (member_id, nick_name, password, member_type))

db.commit()

f.close()
db.close()